@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div class="card col-md-6 mx-auto text-center p-0">
        <div class="card-header">
            <h3>Crear nuevo usuario</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Input.Nombres"></label>
                        <input asp-for="Input.Nombres" class="form-control" />
                        <span asp-validation-for="Input.Nombres" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Input.Apellidos"></label>
                        <input asp-for="Input.Apellidos" class="form-control" />
                        <span asp-validation-for="Input.Apellidos" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
