@{
    Layout = "";
}

<div class="input-group input-group-sm">
    <div class="input-group-prepend">
        <span class="input-group-text" style="width: 140px;">Departamento</span>
    </div>
    <select id="listDpto" class="form-control">
        <option value="-1">-- SELECIONE UN DPTO --</option>
    </select>
</div>
<hr />
<table id="tabla_veredas">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre Vereda</th>
            <th>Municipio</th>
            <th>Departamento</th>
            <th>Shape.STArea()</th>
            <th>Shape.STLength()</th>
            <th>acciones</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
